/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7e927f;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

input:checked + .slider {
  background-color: #76c77a; }

input:focus + .slider {
  box-shadow: 0 0 1px #76c77a; }

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px); }

/* Rounded sliders */
.slider.round {
  border-radius: 999px; }

.slider.round:before {
  border-radius: 50%; }

body,
html {
  margin: 0;
  min-height: 100vh;
  /* This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ */
  background-image: url("../img/theme/leaves.png"); }

body {
  box-sizing: border-box;
  padding: 3em 0;
  font-family: "Baloo Thambi 2", sans-serif;
  color: #5c841c; }

body.transitionAll * {
  transition: background-color 150ms linear; }

input,
select {
  font-family: "Baloo Thambi 2", sans-serif;
  outline: none; }

b,
strong {
  color: #44660d; }

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #5c841c; }

* {
  box-sizing: border-box; }

.hidden {
  display: none; }

section.block {
  display: block;
  box-sizing: border-box;
  width: 50%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fbfff8;
  padding: 1.5em 1em;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15);
  border: 2px dashed #a5c782;
  margin-bottom: 2em; }

section.block.bottom {
  margin-bottom: 0em; }

#footer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12px; }

#hemisphereSwitch {
  cursor: pointer;
  text-decoration: underline; }

h1.hero {
  text-align: center;
  margin-top: 0;
  font-size: 3em;
  margin-left: 10px;
  margin-right: 10px; }

.heading {
  text-align: center; }
  .heading h2 {
    margin: 0.5em;
    box-shadow: inset 0px -13px 0px 0px rgba(178, 222, 120, 0.32);
    display: inline-block;
    padding: 0 0.4em;
    line-height: 1.2; }

#darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: 99;
  display: none;
  transition: opacity 300ms ease; }

#optionsButton {
  width: 40px;
  height: 40px;
  background-color: #8aa95a;
  border: 2px solid white;
  border-radius: 9999px;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.95);
  background-image: url("../img/theme/cog.svg");
  background-size: 70% 70%;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 2vh;
  left: 76%;
  transition: background-color 133ms ease, transform 133ms ease, bottom 300ms ease, left 300ms ease, opacity 300ms ease;
  z-index: 999; }

#options {
  width: 40%;
  background-color: white;
  position: fixed;
  z-index: 999;
  bottom: -50vh;
  height: 50vh;
  left: calc(50% - 20%);
  overflow: auto;
  transition: bottom 300ms ease;
  border: 2px dashed #a5c782;
  background-color: #fbfff8;
  border-bottom-width: 0;
  display: none;
  padding: 1vw; }
  #options .option {
    margin: 10px; }

body.optionsOpen #darken {
  display: block;
  opacity: 0.5; }
body.optionsOpen #optionsButton {
  background-image: url("../img/theme/close.svg");
  background-size: 30% 30%;
  bottom: calc(50vh - 50px);
  left: 71%; }
body.optionsOpen #options.open {
  bottom: 0; }

#optionsButton:hover {
  background-color: #9fbe70;
  cursor: pointer; }

.speechBubble {
  position: relative;
  background: #55546b;
  border-radius: .4em;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15); }

.speechBubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: #55546b;
  border-right: 0;
  border-bottom: 0;
  margin-top: -4px;
  margin-right: -8px; }

#glance .description {
  text-align: center; }
#glance .section {
  display: flex; }
#glance .typeSection {
  width: 50%;
  padding: 10px;
  background-color: #e4f9d8;
  border-radius: 20px;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }
#glance .species {
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 45% 45%;
  position: relative;
  transition: background-color 300ms ease, box-shadow 300ms ease, transform 300ms ease;
  background-color: rgba(253, 255, 252, 0.5); }
  #glance .species .name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    margin-left: 10%; }
#glance .species.thisMonth {
  background-color: rgba(137, 181, 114, 0.329); }
#glance .species.leaving:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/theme/notice.svg");
  background-size: 16px 16px; }
#glance .species:hover {
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15); }
#glance .changeDate.form-control, #glance .flatpickr-mobile {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 999px;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15);
  border: 0;
  background-image: url("../img/theme/calendar.svg");
  background-size: auto 75%;
  background-position: center right 8px;
  background-repeat: no-repeat;
  padding-right: 35px;
  cursor: pointer; }
#glance .changeDate.form-control.disabled, #glance .flatpickr-mobile.disabled {
  display: none; }
#glance .flatpickr-mobile {
  background-image: none;
  padding-right: 10px;
  width: 100%; }

.speciesDB {
  display: flex; }

.inline-notice {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/theme/notice.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#resultsPanel {
  width: 60%;
  padding: 0.5em;
  display: flex;
  flex-direction: column; }
  #resultsPanel #speciesSearch {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    text-align: center;
    transition: background-position 350ms cubic-bezier(0.25, 0.1, 0, 1.2);
    background-image: url(../img/theme/search.svg);
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: center right 13px; }
  #resultsPanel #speciesSearch.empty {
    background-position: center center; }
  #resultsPanel #speciesSearch:focus {
    background-position: center right 13px; }
  #resultsPanel .filter {
    margin: 10px 0; }
  #resultsPanel #results {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px; }
    #resultsPanel #results .result {
      background-color: rgba(255, 255, 255, 0.66);
      box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15);
      margin-bottom: 5px;
      border-radius: 999px;
      padding: 5px 14px;
      cursor: pointer;
      font-size: 18px;
      margin-right: 6px;
      transition: 300ms ease;
      user-select: none;
      color: #4f7918; }
      #resultsPanel #results .result img {
        width: 32px;
        height: 32px;
        margin-right: 16px; }
    #resultsPanel #results .result:hover {
      box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.15);
      padding-left: 4%;
      background-color: white; }

#dataPanel {
  width: 40%;
  padding: 0.5em; }
  #dataPanel section {
    background-color: #e4f9d8;
    border-radius: 1em;
    box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 5px; }
  #dataPanel .name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0; }
  #dataPanel .image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 128px;
    transition: opacity 200ms; }
  #dataPanel .image img.loading {
    opacity: 0.3; }
  #dataPanel .months .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px; }
    #dataPanel .months .list .month {
      width: 25%;
      text-align: center;
      box-sizing: content-box; }
    #dataPanel .months .list .month.active {
      background-color: #9cc388;
      color: white; }
  #dataPanel .hours .list {
    display: flex;
    flex-wrap: wrap; }
    #dataPanel .hours .list .hour,
    #dataPanel .hours .list .ampm {
      width: 7.6%;
      text-align: center; }
    #dataPanel .hours .list .ampm {
      text-align: center;
      flex-grow: 2;
      background-color: #8aa95a;
      color: white; }
    #dataPanel .hours .list .hour.active {
      background-color: #9cc388;
      color: white; }

@media screen and (max-width: 1680px) {
  section.block {
    width: 60%; }

  #optionsButton {
    left: 81%; } }
@media screen and (max-width: 1440px) {
  section.block {
    width: 70%; }

  #optionsButton {
    left: 86%; } }
@media screen and (max-width: 1280px) {
  section.block {
    width: 80%; }

  #optionsButton {
    left: 91.5%; } }
@media screen and (max-width: 1020px) {
  body {
    padding: 2em 0; }

  section.block, #footer {
    width: 98%;
    padding: 1em 0.5em; }

  #options {
    width: 98%;
    left: 1%; }

  body.optionsOpen #optionsButton {
    left: 91.5%;
    bottom: calc(50vh + 25px); }

  #optionsButton.scrolledToBottom {
    bottom: -50px; } }
@media screen and (max-width: 800px) {
  #glance .heading h2 {
    margin: 0; }
  #glance .species {
    width: 33.3%;
    padding-bottom: 33.3%; }

  .typeSection {
    margin: 2px !important;
    padding: 3px !important;
    border-radius: 0 !important;
    margin-top: 10px !important; }

  .speciesDB {
    flex-wrap: wrap-reverse; }

  .DBwrapper {
    padding: 0 !important;
    margin-bottom: 10px !important; }
    .DBwrapper .heading {
      margin: 10px; }

  #resultsPanel, #dataPanel {
    width: 100%; }

  #dataPanel {
    padding: 1.5em 1em;
    padding-bottom: 15px;
    padding-top: 0; }

  #resultsPanel {
    padding: 0 1em;
    background-color: #e7efe4;
    box-shadow: inset 0px 75px 11px -80px rgba(0, 0, 0, 0.52);
    padding-top: 20px; }

  #results {
    height: 300px !important; }

  #optionsButton {
    left: initial !important;
    right: 4% !important; } }
@media screen and (max-width: 600px) {
  body {
    padding-top: 10px;
    padding-bottom: 10px; }

  .hero {
    font-size: 2.2em !important;
    margin-bottom: 10px;
    line-height: 1.3; }

  p, .customDate {
    font-size: 0.9em; }

  h2 {
    font-size: 1.3em; }

  #glance .species {
    width: 50%;
    padding-bottom: 50%; }
  #glance .name {
    font-size: 0.8em; }

  #dataPanel, #resultsPanel {
    font-size: 0.9em; }

  #results .result {
    margin-right: 0 !important; }

  #footer .line {
    display: inline-block;
    margin-bottom: 4px; }

  #resultsPanel #results .result {
    font-size: 16px;
    padding: 3px 14px; } }
body.dark {
  background-image: url("../img/theme/night.png");
  background-size: 280px 280px;
  color: #c0c0d0; }
  body.dark a,
  body.dark a:link,
  body.dark a:visited,
  body.dark a:active,
  body.dark a:hover {
    color: #c0c0d0; }
  body.dark b, body.dark strong {
    color: white; }
  body.dark section.block, body.dark #options {
    background-color: #31364e;
    border-color: #908f9e; }
  body.dark .heading h2 {
    box-shadow: inset 0px -13px 0px 0px rgba(135, 137, 160, 0.32); }
  body.dark #glance .typeSection, body.dark #dataPanel section {
    background-color: #5d6077; }
  body.dark #glance .species {
    background-color: rgba(145, 145, 165, 0.5); }
  body.dark #glance .species.thisMonth {
    background-color: rgba(48, 49, 72, 0.329); }
  body.dark #glance .species:hover {
    background-color: rgba(145, 145, 165, 0.74); }
  body.dark #glance .species.leaving:after {
    background-image: url("../img/theme/notice-dark.svg"); }
  body.dark .inline-notice {
    background-image: url("../img/theme/notice-dark-inline.svg"); }
  body.dark .slider {
    background-color: #5b5c73; }
  body.dark input:checked + .slider {
    background-color: #b0abdc; }
  body.dark .month.active, body.dark .hour.active {
    background-color: #4b4b61 !important; }
  body.dark .ampm {
    background-color: #3c3854 !important; }
  body.dark #speciesSearch {
    background-color: #d5d5de;
    background-image: url("../img/theme/search-dark.svg") !important; }
  body.dark #resultsPanel #results .result {
    background-color: rgba(255, 255, 255, 0.42);
    color: #2b2c33; }
  body.dark #resultsPanel #results .result:hover {
    background-color: rgba(255, 255, 255, 0.658); }
  body.dark [src='img/theme/blank.svg'] {
    filter: hue-rotate(110deg) brightness(0.4); }
  body.dark #optionsButton {
    background-color: #3c3854; }
  body.dark #optionsButton:hover {
    background-color: #585377; }

@media screen and (max-width: 800px) {
  body.dark #resultsPanel {
    background-color: #2a2c42; } }

/*# sourceMappingURL=style.css.map */
